.DS_Store
File Submissions/SRCD talk distrib.key
File Submissions/SRCD talk.key
MPP_Stim_and_Data/Data/MannerPathPriming_99.dat
MPP_Stim_and_Data/Data/MannerPathPriming_99.dat
**/*.fla
**/*.mp4
**/*.ogg
**/*.mov
**/*.avi
**/*.ogv
**/*.webm
**/*.swf
**/*.ai


