.DS_Store
File Submissions/SRCD talk distrib.key
File Submissions/SRCD talk.key
MPP_Stim_and_Data/Data/MannerPathPriming_99.dat
MPP_Stim_and_Data/Data/MannerPathPriming_99.dat
**/*.mov
**/*.RData
**/*.ai
**/*.avi
**/*.fla
**/*.ogg
**/*.ogv
**/*.webm
**/*.m4v
**/*.mp4
